#custom-background,
#custom-mask,
#refraction-k
  display: none

.three-scene-container
  width: 100%
  padding-top: 100% / 16 * 9
  position: relative
  #three-scene
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0

